vim73/*
vimfiles/colors/
vimfiles/bundle/*.zip
vimfiles/bundle/Color-Sampler-Pack
vimfiles/bundle/ColorV
vimfiles/bundle/IndexedSearch
vimfiles/bundle/VimClojure
vimfiles/bundle/ack.vim
vimfiles/bundle/apidock.vim
vimfiles/bundle/browser-refresh.vim
vimfiles/bundle/bufpos
vimfiles/bundle/cocoa.vim
vimfiles/bundle/csapprox
vimfiles/bundle/delimitMate
vimfiles/bundle/gist-vim
vimfiles/bundle/gundo.vim
vimfiles/bundle/nerdcommenter
vimfiles/bundle/nerdtree
vimfiles/bundle/obvious-resize
vimfiles/bundle/pylint-mode
vimfiles/bundle/ruby-matchit
vimfiles/bundle/sonictemplate-vim
vimfiles/bundle/status.vim
vimfiles/bundle/supertab
vimfiles/bundle/syntastic
vimfiles/bundle/tabular
vimfiles/bundle/tagbar
vimfiles/bundle/taskpaper.vim
vimfiles/bundle/tcomment_vim
vimfiles/bundle/vcscommand.vim
vimfiles/bundle/vim-chef
vimfiles/bundle/vim-coffee-script
vimfiles/bundle/vim-colors-solarized
vimfiles/bundle/vim-cucumber
vimfiles/bundle/vim-dart
vimfiles/bundle/vim-easymotion
vimfiles/bundle/vim-endwise
vimfiles/bundle/vim-fugitive
vimfiles/bundle/vim-git
vimfiles/bundle/vim-haml
vimfiles/bundle/vim-indent-guides
vimfiles/bundle/vim-indent-object
vimfiles/bundle/vim-jade
vimfiles/bundle/vim-javascript
vimfiles/bundle/vim-jquery
vimfiles/bundle/vim-json
vimfiles/bundle/vim-lua-ftplugin
vimfiles/bundle/vim-markdown
vimfiles/bundle/vim-markdown-preview
vimfiles/bundle/vim-matchit
vimfiles/bundle/vim-node.js
vimfiles/bundle/vim-rails
vimfiles/bundle/vim-rake
vimfiles/bundle/vim-repeat
vimfiles/bundle/vim-ruby
vimfiles/bundle/vim-session
vimfiles/bundle/vim-space
vimfiles/bundle/vim-speeddating
vimfiles/bundle/vim-surround
vimfiles/bundle/vim-textobj-rubyblock
vimfiles/bundle/vim-textobj-user
vimfiles/bundle/vim-unimpaired
vimfiles/bundle/vimerl
vimfiles/compiler/
vimfiles/config/
vimfiles/ftplugin/
vimfiles/indent/
vimfiles/keymap/
vimfiles/plugin/
vimfiles/snippets/
vimfiles/syntax/
vimfiles/ftdetect/
